body {
    font-family: 'Dosis', sans-serif;
}

h1, h2, h3 {
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: #000000;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #A9ABC9;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: hsl(0, 0%, 100%);
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    border: none !important;


}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5)
}

.carousel {
    border: solid #5637DD
}

.image-bg-fixed-height {
    background-image:url(C:\Users\LoganThomas\Desktop\NucampFolder\2-Bootstrap\kimsDesigns\img\border.jpg)  no-repeat center center scroll;
    height: 450px;
}

.img-center {
    margin: 0 auto;
}

.card-deck {
    border: 0px
}

.card-body {
    background-color: #8F90A6;
}

#shopNow {
    background-color: #D2D3D9;
    color: black;
}

.link {
    color: white;
}

#submit {
    background-color: #D2D3D9;
    border: #D2D3D9;
    color: black;
}

#about {
    color: black;
}

#home {
    color: black;
}